#map
  %ul
    - @network_links.each do |link|
      %li{data: link.attributes}

- content_for :sidebar do
  %h4 Networks
  %a.btn#add_link_btn= 'Add link'
  #add_link{style: 'display: none'}
    = render partial: 'form'

